@import "tailwindcss";

@theme {
  --color-dark: #121212;
  --color-light: #f5f5f5;
  --color-primary-accent: #3d3d3d;
  --color-secondary-accent: #a6a6a6;
}

.main-screen {
  @apply py-3
}

.screen {
  @apply max-w-4xl mx-auto px-5 py-4;
}

.btn {
  @apply cursor-pointer select-none transition-colors duration-100 flex flex-row gap-1 items-center px-2 py-2 rounded-md border border-primary-accent;

  /* Light mode defaults */
  @apply bg-zinc-100 text-zinc-900 hover:bg-zinc-200;

  /* Dark mode overrides */
  @apply dark:bg-zinc-900 dark:text-zinc-100 dark:hover:bg-zinc-800;
}